nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px 0 0 20px;
    padding: 14px 30px 27px;
    width: 330px;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

nav:hover {
    opacity: 1;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #00C000;
}

nav ul {
    margin: 0;
}

nav li {
    margin-top: 12px;
    font-size: 14px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.8);
}

nav > ul > li:first-child {
    font-weight: 700;
}

nav ul ul li {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1340px) {
    nav {
        display: none;
    }
}